<div class = "navbar navbar-inverse top">
	<div class ="container-fluid">
		<div class = "navbar-header">
			<a class = "navbar-brand"> GameNews
			</a>
		</div>
		<ul class = "nav navbar-nav">
			<li><a>Home</a></li>
			<li><a>Saved Articles</a></li>
			<li><a class = "btn btn-danger scrapeSome">Scrape New Articles</a></li>
		</ul>
	</div>
</div>
<div>
	<h1 class = "heading">Game News</h1>
</div>

<div class = "container-fluid article-container">
	<div id="articles" class="panel panel-default">


	</div>

</div>



</div>

<div class = "footer">
	<div class = "container">
		<p>GameNews Scraper</p>
	</div>
</div>


