<div class = "navbar navbar-inverse top">
	<div class ="container-fluid">
		<div class = "navbar-header">
			<a class = "navbar-brand"> GameNews
			</a>
		</div>
		<ul class = "nav navbar-nav">
			<li><a>Home</a></li>
			<li><a>Saved Articles</a></li>
			<form action="/scrape" method="GET">

				<button><a class = "btn btn-danger scrape-new">Scrape New Articles</a></button>
			</form>
		</ul>
	</div>
</div>


<div class="row">
	<h1 class = "heading">Game News</h1>
</div>

<div class= "row"> <br><br><br><br>
</div>

<div class="row">
<div class = "container-fluid article-container">
	<div id="articles" class="panel panel-default">
		<div id= "aHeading" class= "panel-heading">
		</div>
		<div id="aBody" class="panel-body">
		</div>
	</div>
</div>
</div>



</div>

<div class = "footer">
	<div class = "container">
		<p>GameNews Scraper</p>
	</div>
</div>


